body {
    font-family: 'Inter';
}

header {
    background-color: #3E3E3E;
}

.header-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.header-content-logo {
    margin-bottom: 15px;
}

.header-content-main img {
    width: 15%;
}

.header-content-nav {
   margin-left: -100px;
}

.header-content-main ul {
    display: flex;
    color: white;
}

.header-content-main li {
    font-size: 20px;
    opacity: 0.6;
}

.header-content-main label {
    color: #9ed2dc;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;    
}

.header-content-main ul li {
    margin: 15px;
}

.header-content-main input {
    display: flex;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    opacity: 0.7;
    margin-left: 15%;
}

.header-content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5%;
    text-align: center;
    padding-bottom: 5%;
}


.header-content-bottom-top h1 {
    font-size: 70px;
    font-weight: bold;
}

.header-content-bottom-top h3 {
    margin-top: 25px;
    font-size: 30px;
    opacity: 0.7;
}

.header-content-bottom-inputs {
    margin-top: 30px;
}

.header-content-bottom-inputs input{
    padding: 10px 45px 10px 45px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin-left: 15px;
}

.header-content-bottom-inputs input:first-child {
    background-color: #1A9BB6;
    color: white;
}

/* MAIN CONTENT BLOCKS */

.principal-content {
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    gap: 150px;
}

.principal-content img {
    width: 500px;
}

.principal-content h3 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px
}

.principal-content p {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 15px;
    opacity: 0.7;
    line-height: 29px;
}

.principal-content input {
    color: white;
    background-color: #1A9BB6;
    padding: 10px 30px 10px 30px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;

}

.principal-content-1, .principal-content-3, .principal-content-5, .principal-content-7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 8%;
}

.principal-content > .principal-content-7, .principal-content-5 {
    width: 65%;
}


.principal-content-2, .principal-content-4, .principal-content-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    flex-direction: row-reverse;
    gap: 6%;
}

.principal-content > .principal-content-8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #3E3E3E;
    width: 100%;
    gap: 3%;
    padding: 3% 0px 3% 0px;
}

.principal-content > .principal-content-8 > aside h3  {
    font-size: 50px;

}

.principal-content > .principal-content-8 > aside  {
    width: 35%;
}

.principal-content > .principal-content-8 > aside img{
    width: 20%;
}

.principal-content > .principal-content-8 > article img  {
    width: 600px;
}

.principal-content > .principal-content-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3%;
}

.principal-content > .principal-content-9 img {
    width: 30%;
    margin-bottom: 5%;
}

.principal-content > .principal-content-9 h3 {
    font-size: 70px;
}

.principal-content > .principal-content-9 p {
    font-size: 25px;
    width: 50%;
}

footer {
    background: #090909;
    color: white;
}

.footer-main {
    display: flex;
    justify-content: start;
    gap: 30%;
    padding-top: 2%;
    padding-bottom: 5%;
    line-height: 35px;
}

.footer-left {
    margin-left: 2%;
}

.footer-left h3 {
    font-size: 25px;
}

.footer-left a {
    text-decoration: none;
    color: #168299;
    font-size: 20px;
}
.footer-left p {
    opacity: 0.5;
    font-size: 13px;
}
.footer-left h2 {
    font-size: 35px;
    font-weight: bold;
}


.footer-right {
    display: flex;
    gap: 80%;
}

.footer-right h2, li {
    font-size: 19px;
    line-height: 40px;
}

.footer-right h2 {
    font-weight: bold;
}

.footer-right li {
    color: #116C7F;
}
